/* import font */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

/* import utilities css */
@import url(utilities.css);

/* import navbar css */
@import url(navbar.css);

/* import modal css */
@import url(modal.css);

/*
    General/Global css
*/

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body {
    width: 1440px;
    margin: 0 auto;
    background: #FAFAFA;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    position: relative;
}

#page-header {
    width: 100%;
    height: 400px;
    background: url(../images/image-hero-desktop.jpg);
    background-position: top center;
    background-size: cover;
}

/*
    Page content
*/

.page-content {
    position: relative;
    margin: -60px auto 0;
    padding-bottom: 60px;
    width: 730px;
    height: max-content;
}

.page-content > .container {
    padding: 49px 45px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 10px;
}

.container h1:first-child, .container h2:first-child {
    margin-top: 0;
}

.page-content p {
    color: hsl(0, 0%, 48%);
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}

.container > .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

/* first-container */

.page-content .first-container {
    position: relative;
}

.page-content .first-container > h1,
.page-content .first-container > p {
    text-align: center;
}
.page-content .first-container > p {
    margin-top: 0;
}

#bookmark-btn.active { color: var(--light-cyan); }
#bookmark-btn.active circle { fill: var(--light-cyan); }
#bookmark-btn.active path { fill: #fff; }

#logo-mastercraft {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* second-container */

.stats-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.stats-list li {
    position: relative;
    min-width: 178px;
}

.stats-list li::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: 100%;
    width: 1px;
    background: var(--light-gray);
}
.stats-list li:last-child::after {
    display: none;
    background: none;
}

.page-content .second-container h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.page-content .second-container p { 
    margin-bottom: 0; 
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--lighter-gray);
    margin-top: 2em;
    overflow: hidden;
}
.progress-bar {
    height: 100%;
    width: 80%;
    background-color: var(--light-cyan);
    border-radius: 10px;
}

/* products-container */

.products-container .product-container {
    padding: 25px 20px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
}

.product-container h2:first-child {
    margin-top: 0;
    position: relative;
}

.product-container h2 .title-badge {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: .95rem;
    color: var(--light-cyan);
}

.product-container .item-left-number {
    font-size: 1.8rem;
    font-weight: 700;
}
.product-container .item-left-number span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.4em;
    vertical-align: .2rem;
    color: var(--light-gray);
}

.product-container.disabled h2 { color: hsl(0, 0%, 55%); }
.product-container.disabled h2 .title-badge { color: hsl(176, 59%, 56%); }
.product-container.disabled .item-left-number span,
.product-container.disabled,
.product-container.disabled p {
    color: #ccc;
}
.product-container.disabled button {
    background-color: hsl(0, 0%, 70%);
    color: #fff;
}


/* Large devices (tablets, less than 1200px) */
@media screen and (max-width: 1199.98px) {
    .body {
        width: 100%;
    }
}

/* Small devices (tablets, less than 768px) */
@media screen and (max-width: 767.98px) {
    .body {
        width: 100%;
    }

    .page-content {
        width: 100%;
    }

    .page-content > .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .second-container .stats-list {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .second-container .stats-list li {
        flex-direction: column;
        margin-bottom: 1em;
        margin-top: 10px;
        text-align: center;
    }
    .second-container .stats-list li p {
        margin-top: 8px;
    }
    
    .stats-list li::after {
        position: absolute;
        top: 117%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        height: 1px;
        width: 100px;
    }
    .stats-list li:last-child::after {
        display: none;
        background: none;
    }

    .btn-w-icon {
        width: 56px;
        height: 56px;
        overflow: hidden;
        background: none;
        color: transparent;
    }

    .btn-w-icon > .btn-icon {
        transform: translate(0, -50%);
    }
}